/* Global */
section, article, header, footer {
  display: block;
}

ul {
  padding: 0;
}


/* Layout */

.container {

}

.header {

}

.innhold {

}

.footer {

}


/* Komponenter */

.meny {

}


.meny li ul {
  display: none;
}
.meny li:hover ul {
  display: block;
}


.nyhet {

}

.nyhet:nth-child(2n+1) {

}

.nyhet-ingress {
  margin-top: 40px;
}


.om-oss,
.tips-oss {

}


