/* Global */
section, article, header, footer {
  display: block;
}

ul {
  padding: 0;
}


/* Layout */

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  overflow: auto;
}

.header--logo {
  padding-left: 400px;
  background: url(logo.png) center left no-repeat;
}

.innhold {
  overflow: hidden;
}

.footer {
  overflow: hidden;
}


/* Komponenter */

.meny {
  background-color: #aaa;

  width: 100%;
  overflow: hidden;

  position: relative;
}


.meny > li {
  float: left;
}


.meny-element {
  display: block;
  width: 80px;
  padding: 10px;
}


.meny li ul {
  display: none;
}
.meny li:hover ul {
  display: block;
}


.meny-sok {
  position: absolute;
  right: 0;
}
.meny-sok input {
  margin: 10px;
}


.nyhet {
  float: left;
  width: 45%;
  padding: 2.5%;
}

.nyhet:nth-child(2n+1) {
  clear: left;
}

.nyhet-dato {
  float: right;
}

.nyhet-overskrift {
  clear: right;
}

.nyhet-bilde {
  max-width: 100%;
}

.nyhet-ingress {
  margin-top: 40px;
}



.om-oss,
.tips-oss {
  width: 50%;
  float: left;
}
