
/* Layout */

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  overflow: auto;
}

.header--logo {
  padding-left: 400px;
  background: url(logo.png) center left no-repeat;
}

.navigasjon {
  background-color: #eee;
}

.innhold {
  overflow: hidden;
}

.footer {
  overflow: hidden;
}








/* Komponenter */

.meny {
  border: 1px solid #ccc;
  overflow: hidden;
}

.meny--punkt {
  float: left;
}

.meny--element {
  display: block;
  padding: 1em;
}

.meny li {
  text-transform: uppercase;
}

.meny li li {
  text-transform: none;
}


.nyhet {
  float: left;
  width: 45%;
  padding: 2.5%;
}

.nyhet:nth-child(2n+1) {
  clear: left;
}

.nyhet--bilde {
  max-width: 100%;
}



.om-oss, .tips-oss{
  width: 50%;
  float: left;
}
